.price-container {
  display: flex;
  color: white;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  border-style: solid;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  border-color: #94e8c9;

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .coin-symbol {
    font-weight: 500;
  }
}

@media screen and (max-width: 480px) {
  .price-container {
    margin: 60px auto;
    padding: 12px;
    width: 180px;

    .coin-symbol {
      line-height: 2px;
      font-size: 15px;
    }

    .coin-name {
      font-size: 12px;
    }

    .coin-price {
      font-size: 12px;
    }

    .image {
      height: 60px;
      width: 60px;
    }
  }
}
