.contribute-container {
  width: 90%;
  background-color: #94e8c9;
  color: black;
  margin: 40px auto;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .contribute-image {
    width: 300px;
  }

  .information-container {
    width: 40%;
    display: flex;
    flex-direction: column;

    .contribute-title {
      font-size: 30px;
      font-weight: 500;
    }

    .contribute-text {
      font-size: 18px;
      line-height: 2rem;
    }

    .contribute-link {
      max-width: 160px;
      background-color: black;
      font-size: 13px;
      height: 40px;
    }

    .contribute-link:hover {
      background-color: white;
      color: black;
      transform: scale(1.02);
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 800px) {
  .contribute-container {
    width: 80%;
    flex-direction: row;
    margin: 5px auto;

    .contribute-image {
      width: 200px;
    }

    .information-container {
      width: 60%;

      .contribute-title {
        font-size: 20px;
      }

      .contribute-text {
        font-size: 16px;
      }

      .contribute-link {
        margin: 5px 0;
        max-width: 140px;
        height: 35px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .contribute-container {
    flex-direction: column;
    margin: 10px auto;
    padding: 0;
    width: 80%;

    .contribute-image {
      width: 120px;
      margin-bottom: 10px;
    }

    .information-container {
      width: 80%;

      .contribute-title {
        font-size: 18px;
      }

      .contribute-text {
        font-size: 14px;
        line-height: 1.5rem;
      }

      .contribute-link {
        max-width: 100px;
        font-size: 10px;
        height: 30px;
      }
    }
  }
}
