.information-container {
  display: grid;
  grid-template-columns: 700px 700px;
  justify-content: space-evenly;
  margin: 40px 0 20px;
}

@media screen and (max-width: 800px) {
  .information-container {
    grid-template-columns: 580px;
    row-gap: 60px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 480px) {
  .information-container {
    grid-template-columns: 380px;
    margin: 30px auto;
    row-gap: 30px;
  }
}
