.information-container {
  display: grid;
  grid-template-columns: 700px 700px;
  justify-content: space-evenly;
  margin: 60px 0 20px;
}

@media only screen and (max-width: 680px) {
  .information-container {
    grid-template-columns: 280px;
    margin: 30px auto;
    row-gap: 20px;
  }
}
