.container {
  background-color: #94E8C9;
  // background-color: #183A6B;
  // color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.8rem;
  padding: 8px 15px;
  border-radius: 10px;
}

